*{padding: 1px;}
div{ background: lightgray; width: 240px; float:left; padding:7px 13px; }

#201801167 {background: white; float: left;
border-collapse: collapse; padding: 20px; margin: 20px;

}
tbody tr{border-bottom: 2px solid darkgray;}
input[type=text]:hover, input[type=password]:hover,
input[type=email]:hover {border: 2px solid red; cursor: pointer;}

input[type=text]:focus::placeholder, input[type=password]:focus::placeholder,
input[type=email]:focus::placeholder {color: transparent;}

td{color: gray; font-weight: bold; text-align: center;}

#btable {padding-left: 15px; margin: 10px;}
#B1 { background: darkgray; color: white;  border: 0; width: 90px; height: 40px;}
#B2 { background: blue; color: white; width: 90px;  border: 0; height: 40px;}
#B1:hover, #B2:hover {font-size: 1.1em; cursor: pointer;}
