.body{margin: 0; padding: 0;}
.header{width: 100%;height: 10%; }
.section{width: 80%; height: 80%;  float: left; }
#main {background:yellow; border: 2px solid darkgray; border-radius: 10px; margin-bottom: 13px;}
.aside{width: 20%; height: 800px; float: right;}
.footer{width: 100%; height: 10%; font-size: 0.8em;
	padding-top: 5px;
 font-style: italic; }

#tab{height: 30px;}
thead h1{font-size: 30px; font-weight: bold; margin: 0px;
	text-align: left; 
}

#searchin{background: lightgray; border: 3px solid gray; width: 650px; border-radius: 5px;}
#searchin:hover {background: white; border: 3px solid skyblue; border-radius: 5px;}

#round a{text-decoration: none; color: black; padding: 5px;}
#round{background: white; border-radius: 10px;}
#round:hover {font-weight: bold; color: blue;  background: lightgray; border-radius: 20px;}

table {padding: 3px 20px;}
section img{width: 180px; padding: 13px;}
section img:hover {background: darkgray; border-radius: 10px;}
td div{background: white; border: 1px solid black ; border-radius: 10px;}

aside img{width:100px; height: 150px; display:
 block; position: absolute; padding-left: 15px;}
#first {top:20%; }
#second {top: 80%; }